<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Information / Jonicul</title>
    <!-- <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/> -->
     <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">

<section class="section">
<h1>Here are your users:</h2>

<div class="djangotwo">
{% if users %}

<ol type="1">
  {%for person in users %}
<li>User Info</li>
<ul>
    <li>First Name: {{ person.first_name }}</li>
    <li>Last Name: {{ person.last_name }}</li>
    <li>E-mail: {{ person.email }}</li>
</ul>
  {% endfor %}
</ol>


{% else %}
<p>NO access records founds!</p>
{% endif %}


</div>
</section>
</div>
  </body>
</html>
